<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">


    <link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}">

    <title>Document</title>
</head>

<body>
    <header>
        <a href="#" class="logo">
            <img src="{% static 'images/logo.webp' %}" alt="Logo" style="width: 80px; height: 60px;">
            MODEL
        </a>
        <ul class="navbar">
            <li><a href="{% url 'adminpage' %}">Home</a></li>
            <li><a href="{% url 'signuppage' %}">Signup</a></li>
            <li><a href="{% url 'loginpage' %}">Login</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="{% url 'Contact' %}">Contact</a></li>
            
        </ul>

        <div class="header-icons">
            
            <a href="{% url 'show_profile' %}"><i class='bx bx-user'></i></a>
            <a href="#"><i class='bx bx-heart'></i></a>
            <li><a href="{% url 'logout' %}" class="text-white">Logout</a></li>
            <div class="bx bx-menu" id="menu-icon"></div>
        </div>
    </header>
    <div class="container" style="margin-top: 140px;">
        <h1 class="text-center" style="color: #685f78;">Admin Pannel</h1>
        <div class="row" style="margin-top: 40px;">
            <div class="col-lg-6">
                <img src="{% static 'images/image16.jpg' %}" class="img-fluid" alt="#" style="width: 500px; height: 350px;">
            </div>
            <div class="col-lg-6">
                <p>An Administrator provides office support to either an individual or team and is vital for the
                    smooth-running of a business. Their duties may include fielding telephone calls, receiving and
                    directing visitors, word processing, creating spreadsheets and presentations, and filing.
                    Additionally, administrators are often responsible for office projects and tasks, as well as
                    overseeing the work of junior admin staff. <br><br>

                    An Office Administrator is a professional who oversees operations across their organization’s
                    office. They are responsible for welcoming visitors, coordinating meetings, appointments and
                    directing various administrative projects.

                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="margin-top: 40px;">
        <h1 class="text-center" style="color: #685f78;">Admin Action</h1>
        <div class="row" style="margin-top: 40px;">
            <div class="col-sm-3 pt-5">
                <div class="box">
                    <a href="{% url 'adddep' %}">Add Departments</a>
                </div>
            </div>
            <div class="col-sm-3 pt-5">
                <div class="box">
                    <a href="{% url 'add_lab' %}">Add Lab Details</a>
                </div>
            </div>
            <div class="col-sm-3 pt-5">
                <div class="box">
                    <a href="{% url 'addxray' %}">Add X-ray Details</a>
                </div>
            </div>
            <div class="col-sm-3 pt-5">
                <div class="box">
                    <a href="{% url 'add_blood' %}">Blood Bank Details</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 40px;">
        <h1 class="text-center" style="color: #685f78;">Enrolled Data</h1>
        <div class="row" style="margin-top: 40px;">
            <div class="col-lg-6">
                <img src="{% static 'images/image17.avif' %}" class="img-fluid" alt="#" style="width: 500px; height: 350px;">
            </div>
            <div class="col-lg-6">
                <p>Data management is the practice of collecting, keeping, and using data securely, efficiently, and
                    cost-effectively. The goal of data management is to help people, organizations, and connected things
                    optimize the use of data within the bounds of policy and regulation so that they can make decisions
                    and take actions that maximize the benefit to the organization. A robust data management strategy is
                    becoming more important than ever as organizations increasingly rely on intangible assets to create
                    value. <br> <br>

                    Today’s organizations need a data management solution that provides an efficient way to manage data
                    across a diverse but unified data tier. Data management systems are built on data management
                    platforms and can include databases, data lakes and data warehouses, big data management systems,
                    data analytics, and more.

                </p>
                <div class="button-class">
                <a href="{% url 'enroled_data' %}" class="btn">Patients Enrolled</a>
            </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 40px;">
        <h1 class="text-center" style="color: #685f78;">Add Staff Details</h1>
        <div class="row">
            <div class="col-lg-6 pt-5">
                <img src="{% static 'images/image19.avif' %}" class="img-fluid" alt="#" style="width: 500px; height: 350px;">
            </div>
            <div class="col-lg-6 pt-5">
                <div class="row">
                    <div class="col-sm-4 pt-5" >
                        <div class="det">
                            <a href="{% url 'add_docto' %}">Doctors</a>
                        </div>
                    </div>
                    <div class="col-sm-4 pt-5" >
                        <div class="det">
                        <a href="{% url 'add_nurse' %}">Nurses</a>
                    </div>
                    </div>
                    <div class="col-sm-4 pt-5">
                        <div class="det">
                            <a href="">Other Staff</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="contact" id="contact">
        <div class="main-contact">
         <div class="contact-content">
            <a href="#" class="logo">
                <img src="{% static 'images/logo.webp' %}" class="img-fluid" alt="Logo" style="width: 80px; height: 60px;">
            </a>
             <li><a href="#">Facebook</a></li>
             <li><a href="#">Instagram</a></li>
             <li><a href="#">Twitter</a></li>
         </div>
         <div class="contact-content">
                  <li><a href="#home">Home</a></li>
                 <li><a href="#categories">Categories</a></li>
                 <li><a href="#courses">Courses</a></li>
                 <li><a href="#about">About Us</a></li>
                 <li><a href="#contact">Contact</a></li>
         </div>
         <div class="contact-content">
             <li><a href="#">Profile</a></li>
             <li><a href="#">Login</a></li>
             <li><a href="#">Register</a></li>
             <li><a href="#">Instructor</a></li>
             <li><a href="#">Dashboard</a></li>
         </div>
         <div class="contact-content">
             <li><a href="#">San francisco <br> California, CA 94108</a></li>
             <li><a href="#">amald416@gmail.com</a></li>
             <li><a href="#">7025306368</a></li>
             
         </div>
        </div>
         </section>
         <div class="last-text">
             <p>© Amal davis. All rights reserved</p>
         </div>
</body>
<script>
    let menu = document.querySelector('#menu-icon');
    let navlist = document.querySelector('.navbar');

    menu.onclick = () => {
        menu.classList.toggle('bx-x');
        navlist.classList.toggle('open');
    };
    window.onscroll = () => {
        menu.classList.remove('bx-x');
        navlist.classList.remove('open')
    };

</script>
</html>