<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <h1 class="alert alert-dark text-center">
            BOOKINGS FOR SCAN
        </h1>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <table class="table text-center ">
                <thead>
                    <tr>
                        <th scope="col"> NAME</th>
                        <th scope="col">ADDRESS</th>
                        <th scope="col">Age</th>
                        <th scope="col">PHONENUMBER</th>
                        <th scope="col">EMAIL ID</th>
                        <th scope="col">TYPE OF TEST</th>
                        <th scope="col">MANAGE DATA</th>




                    </tr>
                </thead>
                <tbody>
                    {% for p in xbook %}
                    <tr>
                        <td class="pt-4">{{ p.name}}</td>
                        <td class="pt-4">{{ p.adres}}</td>
                        <td class="pt-4">{{ p.age}}</td>
                        <td class="pt-4">{{ p.phoneno}}</td>
                        <td class="pt-4">{{ p.email}}</td>
                        <td class="pt-4">{{ p.xray.X_ray_types}}</td>


                        <td>
                        
                            <a rol="button" class="btn btn-outline-dark btn-sm" href="{% url 'delete_data' p.id %}">DELETE</a>
                        </td>
                    </tr>
                    {% endfor %}
                        </tbody>
                    </table>
                    </div>
                    </div>
                    </div>
</body>
</html>